html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  height: 250px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid black;
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover; }
  #mainContent img, #mainContent div, #mainContent svg {
    position: absolute; }

#logo {
  top: 19px;
  left: 43px;
  -webkit-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px); }

#copyOneContainer {
  top: 158px;
  left: 61px;
  overflow: hidden;
  width: 100%;
  height: 80px; }

#copyOne {
  left: 18px;
  -webkit-transform: translateX(-178px);
  -ms-transform: translateX(-178px);
  transform: translateX(-178px); }

.st0 {
  fill: none;
  stroke: #000;
  stroke-width: 20;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

svg {
  opacity: 0; }

#color {
  top: 23px;
  left: 41px; }

#bgExit {
  position: absolute;
  width: 300px;
  height: 250px;
  cursor: pointer; }
