html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  height: 600px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid black;
  background: #000000;
  background-size: cover; }
  #mainContent img, #mainContent > div {
    position: absolute; }

.hide {
  opacity: 0; }

#playIcon {
  top: 217px;
  left: 111px;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg); }

#albumBg {
  left: -31px;
  top: -60px; }

#musicVideoBg {
  top: -60px;
  left: -30px; }

#performanceBg {
  left: -31px;
  top: -61px; }

#googlePlayLogo {
  top: 524px;
  left: 53px; }

#appStoreLogo {
  top: 524px;
  left: 161px; }

#YTMusicLogo {
  top: 518px;
  left: 59px; }

#whiteBG {
  width: 300px;
  height: 600px;
  background: #fff; }

#copyOne {
  top: 314px;
  left: 43px; }

#copyFive {
  top: 20px;
  left: 94px; }

#theCopy {
  top: 204px;
  left: 128px; }

#isHereCopy {
  top: 263px;
  left: 99px; }

#copyTwoContainer {
  top: 231px;
  left: 40px; }
  #copyTwoContainer path {
    opacity: 0;
    fill: #fff; }

#copyThreeContainer {
  top: 234px;
  left: 81px; }
  #copyThreeContainer path {
    opacity: 0;
    fill: #fff; }

#copyFourContainer {
  top: 234px;
  left: 53px; }
  #copyFourContainer path {
    opacity: 0;
    fill: #fff; }

.copyTwoLine {
  width: 218px;
  height: 2px;
  top: 28px;
  left: 0px;
  background: #fff; }

.copyThreeLineOne {
  width: 136px;
  height: 2px;
  top: 25px;
  left: 0px;
  background: #fff; }

.copyThreeLineTwo {
  width: 140px;
  height: 2px;
  top: 62px;
  left: -2px;
  background: #fff; }

.copyFourLineOne {
  width: 138px;
  height: 2px;
  top: 25px;
  left: 27px;
  background: #fff; }

.copyFourLineTwo {
  width: 198px;
  height: 2px;
  top: 62px;
  left: -2px;
  background: #fff; }

#textCursor {
  width: 2px;
  height: 20px;
  top: 235px;
  left: 40px;
  background: #fff;
  opacity: 0; }

.line {
  position: absolute; }

#searchIcon {
  top: 232px;
  left: 45px; }

#googlePlayAppStore {
  right: 24px;
  bottom: 17px;
  opacity: 0; }

#endFrameContainer {
  left: 0;
  width: 300px;
  top: 80px; }
  #endFrameContainer img {
    top: -1px;
    left: -1px; }

.mask {
  width: 300px;
  height: 0px;
  left: -1px;
  overflow: hidden;
  background: url("../img/endFrameBg.jpg") no-repeat; }

#endFrameMask1 {
  background-position: -1px 0; }

#endFrameMask2 {
  background-position: -1px -146px; }

#endFrameMask3 {
  background-position: -1px -293px; }

#bgExit {
  position: absolute;
  width: 300px;
  height: 600px;
  cursor: pointer; }
