@import '_settings';
@import '_config';
@import '_mixins';

body {
    margin: 0;
    padding: 0;

}

#mainContent {
    position: relative;

    overflow: hidden;
    box-sizing: border-box;
    width: $width;
    height: $height;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid black;
    background: url("../img/bg.jpg") no-repeat;
    background-size:cover;
    img, div, svg{
        position: absolute;
    }
}

#logo {
    top: 19px;
    left: 43px;
    transform: translateY(-300px);
}

#copyOneContainer{
    top: 158px;
    left: 61px;
    overflow: hidden;
    width: 100%;
    height: 80px;
}

#copyOne {
    left: 18px;
    transform: translateX(-178px);
}

.st0{
    fill: none;
    stroke: #000;
    stroke-width: 20;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

svg{
    opacity:0;
}

#color{
    top: 23px;
    left: 41px;
}

#bgExit{
    position: absolute;
    width:$width;
    height:$height;
    cursor:pointer;
}

